/*
 * https://color.adobe.com/ja/Prozium-Light-color-theme-6479867/
 * base-color: #AAB8BA;
 * main-color: #3987C4;
 * accent-color: #2E5875;
 * color: #1D261C;
 * light-color: #D8E4EB;
 */

/*
 * reset
 */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  text-decoration: none;
  line-height: 1;
  vertical-align: top;
  list-style-type: none;
}

/*
 * body
 */
body {
  background-color: #3987C4;
  color: #1D261C;
  font-family: 'ヒラギノ角ゴ ProN W3', 'メイリオ',Meiryo, "ＭＳ ゴシック",sans-serif;
  font-size: 14px;
}

/*
 * header
 */
.header {
  padding: 14px;
  color: #D8E4EB;
  background-color: #3987C4;
}
.header__top {
  height: 16px;
  margin-bottom: 10px;
}
.header__top--description,
.header__top--navigation {
  display: inline-block;
}
.header__top--description {
  float: left;
}
.header__top--navigation {
  float: right;
}
.header__top--navigation li {
  display: inline-block;
  margin-right: 14px;
}
.header__top--navigation a {
  color: #D8E4EB;
}
.header__title {
  font-size: 32px;
  font-family: 'Courier New';
}
.header__title a {
  color: #D8E4EB;
}

/*
 * footer
 */
.footer {
  padding: 14px;
  color: #D8E4EB;
}
.footer__copyright {
  text-align: center;
  font-size: 10px;
}

/*
 * section
 */
.tool-list,
.count-string {
  min-height: 428px;
  background-color: #AAB8BA;
}

/*
 * article
 */
.input,
.result {
  display: inline-block;
  width: 48%;
  min-height: 320px;
  padding: 10px;
  background-color: #D8E4EB;
}
.input__text {
  color: ;
  background-color: #D8E4EB;
}